.btn {
  border: transparent !important;
}
.rrss-btn, .chat-btn {
    cursor: pointer;
  }

.chat-image {
  transition: .2s linear;
}

.chat-image:hover {
  transform: scale(1.2); 
}

.rrss-image { 
    display: block;
    height: auto;
}

@media only screen and (min-width: 200px) {
  .chat-btn {
    width: 1%;
    position: absolute; 
    right: 6px; 
    top: 500px;
    padding-right: 0 !important;
  } 

  .chat-btn:hover {
    position: absolute; 
    right: 12px; 
  }

   .chat-image {
    width: 120%;
    position: absolute; 
    padding-right: 0 !important;
  }  

  .row .row-cols-4 {
    width: 70%;
  }

  .rrss-title{
    margin-top: 100px;
  }

  .collapse-card{
    position: relative;
    right: 120px;
    width: 400px;
  }

  .card {
    width: 100%;
    font-size: 8px;
  }

  .card .card {
    width: 100% !important;
  }
}

@media only screen and (min-width: 400px) {

  .row .row-cols-4 {
    width: 70%;
  }

  .rrss-title{
    margin-top: 100px;
  }

  .collapse-card {
    left: 10px;
  }

}

@media only screen and (min-width: 500px) {
    .chat-image {
      width: 90%;
    }   

    .collapse-card{
      left: 10svh;
    }

    .row .row-cols-4 {
      width: 50%;
    }

    .rrss-title{
      margin-top: 100px;
    }

}

@media only screen and (min-width: 768px) {
  .chat-image {
    width: 70%;
  }   

  .row .row-cols-4 {
    width: 35%;
  }
}

@media only screen and (min-width: 992px) {
  .chat-image {
    width: 60%;
  }   

  .row .row-cols-4 {
    width: 26%;
  }
}

@media only screen and (min-width: 1200px) {
  .chat-image {
    width: 50%;
  }   

  .row .row-cols-4 {
    width: 20%;
  }
}