.btn-donar {
    width: 10rem !important;
    border: black 1px solid;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: .5rem;
    transition: .2s linear;
}

.btn-donar:hover {
    transform: scale(1.1);
    background-color: #90bcc3;
}

@media only screen and (min-width: 200px){
    .div-container{
        min-height: 100vh;
    }
    #p-1 {
        margin-top: 2rem;
    }
    .image-donar{
        width: 60% !important;
    }
}
@media only screen and (min-width: 300px){
    .div-container{
        min-height: 30vh;
    }
}
@media only screen and (min-width: 620px){
    .image-donar{
        width: 40% !important;
    }
}
@media only screen and (min-width: 1200px){
    .div-container{
        min-height: 100vh;
    }
    #p-1 {
        margin-top: 4rem;
    }
    .image-donar{
        width: 25% !important;
    }
}