.insta-btn {
    cursor: pointer;
  }

  .face-btn {
    cursor: pointer;
  }

  .insta-image { 
    display: block;
    width: 100%;
    height: auto;
  }

  .face-image {
    display: block;
    width: 100%;
    height: auto;
  }